/* Sections */
/* Hero */

.hero {
  /* outline: 1px solid red; */
  text-align: center;
  padding-bottom: 94px;
  padding-top: 200px;
  background-image: url(../img/hero/img-overlay.svg), url(../img/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  color: var(--major-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-btn {
  color: var(--major-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  margin-bottom: 200px;
}
/* Hero */
/* Feature */
.feature {
  /* outline: 1px solid yellow; */
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-title {
  display: none;
}
.feature-list {
  display: flex;
}

.feature-list .list-item {
  width: 270px;
}
.feature-list .list-item + .list-item {
  margin-left: 30px;
}

.feature-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list p {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.feature-list .list-item::before {
  content: "";
  display: inline-flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-bg-color);
}
.feature-list .attention::before {
  content: "";
  background-image: url(../img/feature/feature-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feature-list .punctuality::before {
  content: "";
  background-image: url(../img/feature/feature-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feature-list .planning::before {
  content: "";
  background-image: url(../img/feature/feature-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feature-list .technologies::before {
  content: "";
  background-image: url(../img/feature/feature-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Feature */
/* What we do */
.what-we-do {
  padding-bottom: 94px;
  /* outline: 1px solid green; */
}
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.what-we-do-list {
  display: flex;
}
.what-we-do-list .list-item + .list-item {
  margin-left: 30px;
}

/* What we do */
/* Our team */
.our-team {
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
  background-color: var(--second-minor-bg-color);
  /* outline: 1px solid blue; */
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
}

.our-team-list .list-item + .list-item {
  margin-left: 30px;
}
.our-team-list .list-item {
  width: 270px;
  background: var(--major-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list .teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
}
.our-team-list .teammate-job {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* .social-links {
  display: inline-flex;
  margin-bottom: 30px;
  border-radius: 50%;
}

.icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-links .social-link + .social-link {
  margin-left: 10px;
}

.social-icon {
  fill: var(--social-icon-main);
}
.social-link:hover .social-icon {
  fill: var(--major-white-color);
}
.instagram-icon {
  width: 20px;
  height: 20px;
}

.twitter-icon {
  width: 20px;
  height: 16px;
}
.facebook-icon {
  width: 10px;
  height: 20px;
}
.linkedin-icon {
  width: 20px;
  height: 20px;
} */
/* Our team */
/* Sections */

/* bnt */
.btn.main {
  display: inline-block;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  text-align: center;
  color: var(--major-white-color);
  background-color: var(--accent-color);
  min-width: 200px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* bnt */

/* footer {
  outline: 1px solid pink;
} */
